

// -------------------------------------
// Img Function
// -------------------------------------
@include describe('Img path [function]') {
	@include assert-equal (
		img('test.jpg'),
		url('../images/test.jpg')
	);
	@include true-report {
		@include it('Creates the url file path to your image.') {
			@include assert {
				@include output {
					background-image: img('test.jpg');
				}
				@include expect {
					background-image: url('../images/test.jpg');
				}
			}
		}
	}
}


// -------------------------------------
// Font Function
// -------------------------------------
@include describe('Font path [function]') {
	@include assert-equal (
		font('test.otf'),
		url('../fonts/test.otf')
	);
	@include true-report {
		@include it('Creates the url file path to your font.') {
			@include assert {
				@include output {
					src: font('test.otf');
				}
				@include expect {
					src: url('../fonts/test.otf');
				}
			}
		}
	}
}
