// @title: Add Info Function
// @since: v0.0.6
// @desc:  Merges maps together used to make info about functions/mixins available in the 'info' mixin
// ===================================================================

// TODO: add info, tests.


// Default Tools Map
// Each mixin/function will add to this map)
$tools: ();


@import "info-logger";

// Debugger
$add-info-info: logger(
	'add-info <function>'
	'Creates a cleaner way to add the info'
	'variable \'$name-info\' for each function/mixin in Luscious'
	'to the $tools map so that it can be used in the \'info()\' mixin'
	'Params:'
	'  $tool:      Required. Name of function or mixin'
	'  $tool-info: Required. The variable that used to log info'
	'---------------'
	'Example:'
	'$tools: add-info(tool-name, $tool-info);'
);


@function add-info($tool, $tool-info) {
	@return map-merge($tools, ($tool: $tool-info));
}


// Add Debug Info to $tools list for global mixin
$tools: add-info(add-info, $add-info-info);