// @title: More Info Function
// @since: v0.0.6
// @desc:  Print link in terminal to additional info about a mixin/function
// ===================================================================


@function more-info($name, $type, $group: null, $base_url: $sassdoc_base_url) {
	$br: "\A ";
	$tab: "   ";
	
	@if $name == "info" {
		@debug "TODO: ADD INFO or link to docs.";
		@return null;
		
	} @else {
		$header: " ❓[#{$name} - #{$type}]❓";
		$message: "To view details about this #{$type}, visit:";
		
		$url: "#{$base_url}#{$group}.html##{$type}--#{$name}";
		@if $base_url != $sassdoc_base_url {
			$url: $base_url;
		}
	
		$output: $br + $header + $br + $tab + $message + $br + $tab + $url;
		@return quote($output);
	}
}
