// Luscious
// @since v0.0.1
//
// Disables mouse outlines
//
// sass-lint:disable no-css-comments
// ===================================================================
// http://foundation.zurb.com/sites/docs/accessibility.html
// TODO: Double check this with the `what input` library. https://git.io/v5D4x


// Removes the focus outline for mouse users, but not for keyboard users.
@mixin disable_mouse_outline($info: null) {
	$info_text: info(
  'disable_mouse_outline', 'standalone-mixin', 'styles',
  $details: 'Removes the focus outline for mouse users,
  but not for keyboard users for accessibility.
  - Params: none
  - CSS Output:
    - [data-whatinput=\'mouse\'] & {
    -   outline: 0;
    - }
	');
	@if $info { @debug $info_text; }

	[data-whatinput='mouse'] & {
		outline: 0;
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_disable_mouse_outline {
	@if $output_test_message { @debug '[TESTING] `disable_mouse_outline`'; }
	/* `disable_mouse_outline` ---------- */
	/*
	.test.disable_mouse_outline {
		@include disable_mouse_outline;
	}
	*/
	.test.disable_mouse_outline {
		@include disable_mouse_outline;
	}
	/* End `disable_mouse_outline` ------ */
}
