// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================

// # Vertical (top/bottom) Properties
// Simple mixin that targets top and bottom properties so you won't
// have to write both out or uneccesarily declare values for sides.
@mixin vertical($property: 'info', $value: null) {
	$info_text: info(
  'vertical', 'dependent-mixin', 'styles',
  $details: 'Provides a shorthand for top/bottom declarations
  of a property without having to declare anything for the sides.
  - Params:
    - $property: Required. Properties with a top/bottom
    -            option like `margin` or `padding`.
    - $value:    Required. Accepts any number value.
  - Alias Mixin: `v`
  - CSS Output:
    - margin-top: $value;
    - margin-bottom: $value;
	');
	@if $property == 'info' { @debug $info_text; }

	@else {
		#{$property}-top: $value;
		#{$property}-bottom: $value;
	}
}
// Alias Mixin
@mixin v($property: 'info', $value: null) {
	@include vertical($property, $value);
}


// -------------------------------------

// Horizontal (left/right) Properties
// Simple mixin that targets left and right properties so you won't
// have to write both out or uneccesarily declare values for top/bottom.
@mixin horizontal($property: 'info', $value: null) {
	$info_text: info(
  'horizontal', 'dependent-mixin', 'styles',
  $details: 'Provides a shorthand for left/right declarations
  of a property without having to declare anything for the top/bottom.
  - Params:
    - $property: Required. Properties with a left/right
    -            option like `margin` or `padding`.
    - $value:    Required. Accepts any number value.
  - Alias Mixin: `h`
  - CSS Output:
    - margin-left: $value;
    - margin-right: $value;
	');
	@if $property == 'info' { @debug $info_text; }

	@else {
		#{$property}-right: $value;
		#{$property}-left: $value;
	}
}

// Alias Mixin
@mixin h($property: 'info', $value: null) {
	@include horizontal($property, $value);
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_vertical {
	@if $output_test_message { @debug '[TESTING] `vertical`'; }
	/* `vertical` ----------------------- */
	/*
	.test.vertical {
		@include vertical(margin, 10px);
	}
	*/
	.test.vertical {
		@include vertical(margin, 10px);
	}
	/* End `vertical` ------------------- */
}

// Alias
@mixin __test_v {
	@include __test_vertical;
}


@mixin __test_horizontal {
	@if $output_test_message { @debug '[TESTING] `horizontal`'; }
	/* `horizontal` --------------------- */
	/*
	.test.horizontal {
		@include horizontal(margin, 10px);
	}
	*/
	.test.horizontal {
		@include horizontal(margin, 10px);
	}
	/* End `horizontal` ----------------- */
}

@mixin __test_h {
	@include __test_horizontal;
}
