// Luscious
// @since v0.0.4
//
// sass-lint:disable class-name-format
// ===================================================================
// 2DO-LUS: Remove utility classes mixin for +move

// Bootstrap style quick float mixins and utility classes

@mixin move($val) {
	$info-text: info(
	'move', 'dependent-mixin', 'styles',
  $details: 'Floats an element left or right depending on $val.
  - Params:
    - $val: [Required] Accepts either `left` or `right`
  - SCSS Input
    .element {
      @include move(left);
    }
  - CSS Output
    .element {
      float: left;
    }
  ');
	@if $val == 'info' { @debug $info-text; }

	@else {
		@if $val == 'left'  { float: left;  }
		@if $val == 'right' { float: right; }
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_move {
	@if $output_test_message { @debug '[TESTING] `move`'; }
	/* `move` --------------------------- */
	/*
	.test.move_left {
		@include move(left);
	}
	*/
	.test.move_left {
		@include move(left);
	}
	/*
	.test.move_right {
		@include move(right);
	}
	*/
	.test.move_right {
		@include move(right);
	}
	/* End `move` ----------------------- */
}


@mixin __test_move_utility_classes {
	@if $output_test_message { @debug '[TESTING] `move_utility_classes`'; }
	/* `move_utility_classes` ----------- */
	/*
	@include move_utility_classes;
	*/
	@include move_utility_classes;
	/* End `move_utility_classes` ------- */
}
