// Img & Font asset-path Functions
//   Creates paths to images/font directories using
//   variables defined in `settings.scss` file.
// ===================================================================

////
/// @group utilities-utilities
/// @since v0.0.6
////


/// ## Image Path Function
/// Creates a file path to your image including the CSS 'url()'
/// syntax to make it easier to insert images in your SASS.
///
/// @param {string} $file
///   File name with extension wrapped in quotes.
/// @param {string} $path [$img_base_path]
///   Path from CSS file to image directory or file.
///
/// @see {variable} $img_base_path
/// @see {function} font
///
/// @example scss
///  .element {
///    background: img('photo.jpg');
///  }
///
@function img($file, $path: $img_base_path) {
	$info-text: info(
	'img', 'function', 'utilities',
  $details: 'Creates a file path to your image including the
  CSS \'url()\' syntax to make it easier to insert images.
  - Params:
    - $file: [Required] File name with extension
    - $path: [Defaults to $img_base_path from settings.scss]
    -        Path from CSS output file to image directory.
    -        Current $img_base_path: `#{$path}`
    - SCSS Input
    .element {
      background-image: img(\'bg.jpg\');
    }
    - CSS Output
    .element {
      background-image: url("../images/bg.jpg");
    }
  ');
	@if $file == 'info' {
		@debug $info-text;
		@return null;
		}

	@else {
		@return url($path + '/' + $file);
	}
}


/// ## Font Path Function
/// Creates a file path to your font file including the CSS 'url()'
/// syntax to make it easier to insert fonts in your SASS.
///
/// @param {string} $file
///   File name with extension wrapped in quotes.
/// @param {string} $path [$font_base_path]
///   Path from CSS file to font directory or file.
///
/// @see {variable} $font_base_path
/// @see {function} img
///
/// @example scss
///  @font-face {
///    src: font('my-font.otf');
///  }
///
@function font($file, $path: $font_base_path) {
	$info-text: info(
	'font', 'function', 'utilities',
  $details: 'Creates a file path to your font-file including the
  CSS \'url()\' syntax to make it easier to insert fonts.
  - Params:
    - $file: [Required] File name with extension
    - $path: [Defaults to $font_base_path from settings.scss]
    -        Path from CSS output file to font directory.
    -        Current $font_base_path: `#{$path}`
  - SCSS Input
  @font-face {
  	src: font(\'my-font.otf\');
  }
  - CSS Output
  @font-face {
    src: url("../fonts/my-font.otf");
  }
  ');
	@if $file == 'info' {
		@debug $info-text;
		@return null;
		}

	@else {
		@return url($path + '/' + $file);
	}
}
