// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


@mixin placeholder($info: null) {
	$info-text: info(
	'placeholder', 'dependent-mixin', 'styles',
  $details: 'Adds cross-browser support for placeholder elements.
  See: https://goo.gl/ZrdsAe
  - Params: none
  - Requires: [content block]
  - SCSS Input
  .element {
    @include placeholder {
      color: blue;
    }
  }
  - CSS Output
  .element::-webkit-input-placeholder,
  .element:-moz-placeholder,
  .element::-moz-placeholder,
  .element:-ms-input-placeholder {
    color: blue;
  }
  ');
	@if $info { @debug $info-text; }

	@else {
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {
			@content;
		}
	}
}


// ===================================================================
// Tests
// ===================================================================

@mixin __test_placeholder {
	@if $output_test_message { @debug '[TESTING] `placeholder`'; }
	/* `placeholder` -------------------- */
	/*
	@include placeholder {
		color: red;
	}
	*/
	@include placeholder {
		color: #ff0000;
	}
	/* End `placeholder` ---------------- */
}
