// Luscious
// @since v0.0.1
//
// Description
//
// sass-lint:disable class-name-format
// ===================================================================


@mixin size($width, $height: $width) {
	$info-text: info(
	'size', 'dependent-mixin', 'styles',
  $details: 'A shorthand for declaring width/height properties.
  - From Bootstrap: https://git.io/v7ZN0
  - Params:
    - $width:  [Required]. Accepts any value.
    - $height: Defaults to $width to create a square.
  - Related:   `square()` mixin. A size mixin that only
  -            accepts the first parameter.
  - SCSS Input
  .element {
    @include size(10px, 20px);
  }
  - CSS Output
  .element {
    width: 10px;
    height: 20px;
  }
  ');
	@if $width == 'info' { @debug $info-text; }

	@else {
		width: $width;
		height: $height;
	}
}

// -------------------------------------

// Square
@mixin square($size) {
	$info-text: info(
	'square', 'dependent-mixin', 'styles',
  $details: 'A shorthand for declaring width/height properties.
  - From Bootstrap: https://git.io/v7ZN0
  - Params:
    - $size:  [Required]. Accepts any value.
  - Related:  `size()` mixin. A mixin that accepts
              both $width and $height.
  - SCSS Input
  .element {
    @include square(10px);
  }
  - CSS Output
  .element {
    width: 10px;
    height: 10px;
  }
  ');
	@if $size == 'info' { @debug $info-text; }

	@else { @include size($size, $size); }
}



// ===================================================================
// Tests
// ===================================================================

@mixin __test_size {
	@if $output_test_message { @debug '[TESTING] `size`'; }
	/* `size` --------------------------- */
	/*
	.test.size.first_param {
		@include size(10px);
	}
	*/
	.test.size.first_param {
		@include size(10px);
	}
	/*
	.test.size.both_param {
		@include size(10px, 20px);
	}
	*/
	.test.size.both_param {
		@include size(10px, 20px);
	}
	/* End `size` ----------------------- */
}


@mixin __test_square {
	@if $output_test_message { @debug '[TESTING] `square`'; }
	/* `square` ------------------------- */
	/*
	.test.square {
		@include square(20px);
	}
	*/
	.test.square {
		@include square(20px);
	}
	/* End `square` --------------------- */
}
