@charset 'utf-8';
// Import Luscious
// ===================================================================

// Luscious Current Version
$lus_current_version: 'v0.9.0';

// Output a notification of a test to the console
$output_test_message: false !default;

// Output warnings for pesticide and dev_colors during production
$production_mode: false !default;

// Base URL for Sassdoc
$sassdoc_base_url: 'http://localhost:3000/' !default;

// -------------------------------------------------------------------


// Default Settings
@import '../scaffold/settings';


// Import Vendor: Modular Scale Typography
// Loading path from '/node_modules' via node-sass
@import 'stylesheets/modularscale';



// Helpers
@import
	'helpers/info',
	'helpers/maps',
	'helpers/in-list',
	'helpers/strip_unit',
	'helpers/convert-rem-ratio',
	'helpers/type-checking';

// Bin - Core functions/mixins
@import
	'bin/btn_info',
	'bin/rem_em_calc',
	'bin/breakpoints',
	'bin/colors',
	'bin/disable_outline',
	'bin/pesticide',
	'bin/dev_colors',
	'bin/paths',
	'bin/clearfix',
	'bin/centerblock',
	'bin/bg_image',
	'bin/hocus',
	'bin/edges',
	'bin/square_size',
	'bin/move',
	'bin/visibility',
	'bin/alignment-classes',
	'bin/when_is',
	'bin/placeholder',
	'bin/google_fonts';

// Unstable features that we need to play around with more.
@import 'unstable/vertical-rhythm';


@import 'helpers/dev_config';
